@font-face {
  font: {
    family: 'Chalet';
    style: normal;
    weight: normal;
  }

  src: url('./fonts/Chalet.eot');
  src: url('./fonts/Chalet.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Chalet.woff') format('woff'),
    url('./fonts/Chalet.ttf') format('truetype'),
    url('./fonts/Chalet.svg#Chalet') format('svg');
}

html {
  color: #FFF;
  background: {
    color: #2B3A42;
    image: url('./img/webpack-cube.svg');
    repeat: repeat;
    position: center;
    attachment: fixed;
    size: 10%;
  }
}

body {
  min-height: 100vh;
  font-family: 'Chalet';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  padding: 2rem;
  width: 80%;
  text-align: center;
  background-color: rgba($color: #2B3A42, $alpha: .9);
}

.Menu {
  display: flex;
  justify-content: space-evenly;

  & a {
    color: #8DD6FB;
    transition: all .3s ease;

    &:hover { opacity: .75; }
  }
}
