@font-face {
  font: {
    family: 'Chalet';
    style: normal;
    weight: normal;
  }

  src: url('./fonts/Chalet.eot');
  src: url('./fonts/Chalet.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Chalet.woff') format('woff'),
    url('./fonts/Chalet.ttf') format('truetype'),
    url('./fonts/Chalet.svg#Chalet') format('svg');
}

html {
  font: {
    size: 32px;
    family: 'Chalet', sans-serif;
  }
  background: {
    color: #2B3A42;
    image: url('./img/webpack-cube.svg');
    repeat: repeat;
    position: center;
    attachment: fixed;
    size: 10%;
  }
}

body {
  background-color: rgba($color: #000000, $alpha: .75);
}
