html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.ToDo {
  margin: 2rem auto;
  max-width: 768px;
  width: 80%;
  background-color: #8DD6FB;
  color: #FFF;
}

.Task {
  display: block;
  padding: .5rem;
  width: 100%;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #2B3A42;
}

.List {
  display: flex;
  flex-direction: column;
  list-style: none;

  &-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 2;
    font-size: 1.25rem;
    background-color: #8DD6FB;
    transition: all .3s ease-in;

    &:hover { background-color: #E74C3C; }
  }

  &-checkbox {
    cursor: pointer;
    transform: scale(1.5);
  }

  &-label {
    cursor: pointer;

    &-label:focus {
      border: thin solid #FFF;
      outline: thin solid #FFF;
    }
  }
}

.complete {
  order: 1;
  background-color: #2B3A42;

  & label { text-decoration: line-through; }
}
